#cloud-config
# First line is very important ! - it has to be #cloud-config
#https://cloudinit.readthedocs.io/en/latest/topics/examples.html

# Create user
users:
  - name: myuser
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users
    lock_passwd: false
    shell: /bin/bash
    ssh_import_id: None
#    ssh_authorized_keys:
#      - <add your key here>
#      - ssh-ed25519 AAAkeykeykey myuser@mylaptop

# Set password - in case of network start fail
chpasswd:
  list: |
    myuser:mypass
  expire: false
